<% include ../partials/header %>

<div class="container">
        <div class="row headline-row">
          <div class="col-6">
              <h4>Add to your <a><%=campground.name%></a> workout</h4>
          </div>
          
          <div class="col-6">
           <a href="/campgrounds/<%= campground._id %>/comments/new"><button class="move-right dark-blue-button">+ Add New</button></a>
          </div>
        </div>

        <% campground.comments.forEach(function(comment){ %>
          
        <div class="row workout-row">
            <div class="col-12">
                <p class="exercise-names"><%= comment.name %> </p>
               <table>
                 <thead class="table-head">
                   <tr>
                     <th>Reps</th>
                     <th>Weight</th>
                     <th>Notes</th>
                     <th>
                       
                       
                       <th>
                   </tr>
                 </thead>
                 <tbody>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                     <a href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">
                   <tr>
                     <td>
                            <%= comment.reps %>
                     </td>
                     <td>
                            <%= comment.weight %> 
                     </td>
                     <td>
                            <%= comment.notes %> 
                     </td>
                     <td>

      <i class="fas fa-times-circle" data-toggle="modal" data-target="#exerciseModal"></i> 
      
      <!-- Modal -->
      <div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exerciseModal">Delete this exercise?</h4>
              
            </div>
            <div class="modal-body">
              <div class="container">
             
              <div class="row">
                    <form id="delete-form" action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                    </i> <input type="submit" value="Delete" class="delete-button">
                </form>
        </div>
      
            </div>
          </div>
          </div>
        </div>
      </div>       
                     </td>
                   </tr>
                 
                  
                    
                    
                   
                    

                   </a>
                   <% } %>
                 </tbody>
               </table>
             </div>
        </div>
             <% }) %>
           
        
        
        <div class="row headline-row">
          <div class="col-6">
                <a href="/campgrounds"><i class="fas fa-hand-point-left"></i></a>
          </div>
          <div class="col-6">
                <i class="fas fa-trash-alt move-right" data-toggle="modal" data-target="#exerciseModal"></i> 
      
                <!-- Modal -->
                <div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exerciseModal">Delete this workout?</h4>
                        
                      </div>
                      <div class="modal-body">
                        <div class="container">
                       
                        <div class="row">
                                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                                <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button class="delete-button move-right">Delete</button>
                                </form>
                  </div>
                
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
               
          </div>
        </div>
      
        <% }%>
      
      </div>

<% include ../partials/footer %>